
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap / Bootswatch Darkly Theme
@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

// Select2
@import '~select2/src/scss/core';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.reveal-if-active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    font-size: 16px;
    transform: scale(0.8);
    transition: 0.5s;

    label {
      display: block;
      margin: 0 0 3px 0;
    }
    input[type=text] {
      width: 100%;
    }

    input[type="radio"]:checked ~ &,
    input[type="checkbox"]:checked ~ & {
      opacity: 1;
      max-height: 100px;
      padding: 10px 20px;
      transform: scale(1);
      overflow: visible;
    }

  }
